@charset "utf-8";

h1 {
    text-align: center;
    margin-bottom: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h4 {
  margin-left: 20px;
}

body {
  background-color: #F6F6F6;
}

.title {
  margin-top: 200px;
  text-align: center;
}

.user-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid grey;
}

.user-post-img {
    width: 40px;
    height:40px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.post-img {
    width: 180px;
    height:180px;
    object-fit: cover;
}

.profile {
  display: flex;
  justify-content: space-between;
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #5d627b;
  background: #f6f6f6;
  border-top: solid 5px #5d627b;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

.no-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid grey;
  position: relative;
  flex-shrink: 0;
}

.no-img p {
  position: absolute;
  top: 62px;
  left: 40px;
}

.prf-text {
  margin-left: 50px;
}

.prf-body {
  display: flex;
  flex-shrink: 0;
}

.prf-btn {
  flex-shrink: 0;
}

.btn:hover {
  background-color: rgba(25, 25, 25, .2);
}

.btn-like {
  color: red;
}

.btn-edit {
  color: white;
  background-color:  #5d627b;
}

p.post-content {
  width: 250px;
  word-break: keep-all;
}

h2 {
  text-align: center;
}

.post-card {
  background-color: #f6f6f6;
}

.post-form {
  background-color: #f6f6f6;
  padding: 30px;
  border-top: solid 5px #99cc65;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

.post-title {
  display: flex;
  align-items: center;
}

.post-detail {
  display: flex;
  justify-content: space-between;
}


@media (max-width: 1235px) {
  .profile {
    display: inline-block;
  }

  .prf-body {
    display: inline-block;
  }
}

@media (max-width: 480px) {
  .post-detail {
    display: inline-block;
  }
}